/* .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid gray;
    width: 450px;
    height: 550px;
}

.card-title {
    margin-top: -15px;
    width: 350px;
    text-align: center;
} */

/* .gradient {
    border: 3px solid purple;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}  */

/* Make the img transform when hover */
/* Style hovering the navbar */
/* Make the navbar disappear on small screens */


img {
    /* 640x960 */
    width: 360px;
    max-height: 500px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    width: 100%;
    text-align: center;
}

.card {
    width: 370px;
    height: 550px;
    padding: 0.5rem 0rem;
}

.card img {
    border: 1px solid black;
    padding: 6px 8px;
}

.card-title {
    background: white;
    position: relative;
    z-index: 100;
    margin: -20px auto;
    width: 320px;
    border: 4px double rgb(56, 22, 56);
}

.card-title h3 {
    margin: 12px 4px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
}

.card:first-child {
    border: none;
}

/* Navbar */

#nav {
    line-height: 1.4;
    display: flex;
    justify-content: flex-end;
}

#nav ul {
    align-self: center;
}

#nav li {
    list-style: none;
    text-align: right;
}

#nav li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-family: 'Alegreya SC', serif;
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 1px;
}

#nav a:hover {
    border-bottom: 1px solid black;
}

#icons .fab, #icons .fas {
    font-size: 1.2rem;
    margin: 0 8px;
}

.card-hover {
    transition: all 0.25s;
    transform: translate(-8px, -8px);
    cursor: pointer;
}